<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">STOPFIRE!🔥</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sensors/ky026" routerLinkActive="active">KY026</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sensors/mq2" routerLinkActive="active">MQ2</a>
      </li>
    </ul>
  </div>
</nav>
